/*--------------- Default Styles (Mobile-first Approach)  --------------- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Smythe";
    src: url('assets/fonts/Smythe-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Inter";
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
    /* colors */
    --white: #FFFFFF;
    --black: #000000;
    --grey: #8B8B8B;
    --grn-button: #16DB99;

    /* typography */
    font-size: 20px;
    font-family: "Smythe", serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    max-width: 600px;
    background-image: url("assets/ferks-guare-KEZdWfYD-ow-unsplash.jpg");
    background-position: center;
    background-size: 100%;
    padding: 47px 21px 70px 21px;
    color: var(--white);
}

h1 {
    font-weight: normal;
    font-size: 39px;
}
h2 {
    font-weight: normal;
    font-size: 22px;
}

main {
    width: 100%;
    max-width: 600px;
    padding-left: 23px; 
    padding-right: 23px;
}

#menu {
    padding-top: 22px;
}
.item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;
}
.item-emoji {
    font-size: 3.5rem;
    width: 20%;
}
.item-info {
    width: 35%; 
    line-height: 1.5;
}
.item-name {
    font-size: 28px;
    font-weight: bold;
}
.item-ingredients {
    font-size: 16px;
    color: var(--grey);
}
.add-btn {
    border-radius: 100%;
    border: 1px solid var(--grey);
    background-color: var(--white);
    width: 50px;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 200;
}

#your-order {
    padding-top: 47px;
    text-align: center;
    font-weight: 500;
    display: none; /* Changes to block when items added to Your Order */
}
#your-order h2 {
    font-size: 28px;
    margin-bottom: 64px;
}

.added-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}
.added-item-info span {
    font-size: 28px;
    margin-right: 10px;
}
.remove-btn {
    border: none;
    background-color: var(--white);
    color: var(--grey);
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

#total-price {
    display: none; /* Changes to flex when items added to Your Order */
    border-top: 2px solid var(--black);
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
}
#total-price span:first-child {
    font-size: 28px;
}

#complete-order-btn {
    display: none; /* Changes to block when items added to Your Order */
    width: 100%;
    border: none;
    color: var(--white);
    background-color: var(--grn-button);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 60px;
    margin: 53px auto;
}

/* Payment Modal */
#payment-container {
    display: none; /* Change to blocked when Complete Order button is clicked */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    transform: scale(1);
}

.payment-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
    padding: 2rem 1.5rem;
    width: 18rem;
}

.payment-content h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 46px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.payment-content input {
    width: 100%;
    border: 1px solid var(--grey);
    height: 50px;
    margin-bottom: 24px;
    padding: 16px 23px;
}

.payment-content input[value] {
    color: var(--grey);
    font-family: "Inter", sans-serif;
}
.payment-content button {
    width: 100%;
    border: none;
    color: var(--white);
    background-color: var(--grn-button);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 50px;
}

.confirmation-msg {
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
    width: 100%;
    color: #065F46;
    background-color: #ECFDF5;
    font-size: 32px;
    padding: 50px 25px;
}

/*--------------- 600px+ Width Styles --------------- */
@media only screen and (min-width: 600px) {
    header {
        padding: 47px 47px 70px 47px;
    }
    main {
        padding-left: 46px; 
        padding-right: 46px;
    }    
    .item-emoji {
        width: 100px; 
    }
    .item-info {
        width: 60%; 
    }
    /* Payment Modal */

    .payment-content {
        padding: 2rem 1.5rem;
        width: 23rem;
    }

}
